@font-face {
  font-family: 'honoka';
  src: url(/assets/honokamarugo-forweb.eot);
  src: url(/assets/honokamarugo-forweb.woff) format("woff"), url(/assets/honokamarugo-forweb.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'caveat';
  src: url(/assets/caveat.eot);
  src: url(/assets/caveat.woff) format("woff"), url(/assets/caveat.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'yomogi';
  src: url(/assets/yomogifont.eot);
  src: url(/assets/yomogifont.woff) format("woff"), url(/assets/yomogifont.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 27, /home/ubuntu/photo/photo/app/assets/stylesheets/custom.css.scss */
body {
  font-family: 'honoka';
  font-family: 'yomogi';
}
/* line 5, /home/ubuntu/photo/photo/app/assets/stylesheets/welcome.scss */
.user_images {
  width: 40px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


