<h1>User Index</h1>

<% @users.each do |user| %>
<%= user.name %>
<%= user.user_image %>

<img src="<%= "/images/#{user.user_image}" %>" class="user_images">
<%= link_to("Edit","/users/#{user.id}/edit", method: :get) %>

<% end %>